* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main{
    width: 100%;
    height: auto;
}

/* main contaner1 start */


.main_cantaner1 {
  width: 100%;
  height: 87vh;
  background-image: url("../Utils/Image-2.jpg");
  background-size: cover;
  display: flex;
  /* border: 2px solid  */
  justify-content: center;
  align-items: center;
}

.child1 {
  width: 55%;
  /* border: 2px solid red; */
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  padding: 10px;
}

.main_cantaner1>.child1>p{
    font-size: 22px;
    padding-top:45px;
    line-height: 30px;
    opacity: 0.7;
}

.main_cantaner1>.child1>h1{
    font-size: 65px;
    font-weight: 800;
}


/* main contaner2 start */

.main_cantaner2{
  background-color: #ffffff;
}


.m_cont2_child1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 125px 80px;
}
.mc2_box1{
  width: 380PX;
  height: 380PX;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.mc2_box1:hover{
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.mc2_box1>p{
font-size: 21px;
padding: 0px 30px;
    line-height: 40px;
    opacity: 0.7;
}

.mc2_box1>h2{
  font-size:25px;
}

.main_icondiv{
  width: 80PX;
  height: 80PX;
  border-radius:50PX ;
  padding: 24PX;
  background-color: #ffcc06;
}



.m_cont2_child2{
  display: flex;
  justify-content:space-evenly;
  margin: 50px 0px;
}

.mcc2_box1{
  width: 40%;
}

.mcc2_box1>h1{
  font-size: 50px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 40px;
}

.mcc2_box1>p{
  font-size: 21px;
    line-height: 40px;
    opacity: 0.7;
    margin-bottom: 40px;
}

.mcc2_box1>button{
  padding: 23px 48px;
  font-size: 23px;
  font-weight:550;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  color:#e8e5e4 ;
  background-color: #0a0501;
}

.mcc2_box1>button:hover{
  background-color: #ffcc06;
  color: #0a0501;
}

.mcc2_box2{
  width: 40%;
  height: 500px;
}

.mcc2_box2>img{
  width:100%;
  height:500px;
}


/* main contaner3 start */

.main_cantaner3{
  width: 100%;
  margin-bottom: 50px;
  padding-bottom:140px ;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

.m_cont3_child1{
  width: 100%;
  height: 150px;
  text-align: center;
  align-content: center;
  line-height: 80px;
  margin-top: 120px;
  /* border: 2px solid blue; */
}

.m_cont3_child1>p{
   font-size: 21px;
    line-height: 40px;
    opacity: 0.7;
    margin-bottom: 40px;
}

.m_cont3_child1>h1{
  font-size: 50px;
  font-weight: 800;
}

.m_cont3_child2{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-evenly;
padding: 0px 55px;
  /* border:2px solid red; */

}

.mc3c2_box1{
  width: 35%;
text-align: center;
/* border: 2px solid red; */
}

.mc3c2_box1>img{
  width: 480px;
  height: 570px;
  margin-bottom: 70px;
  border-radius: 5px;
}

.mc3c2_box1>h1,h4{
  margin-bottom: 30px;
}

.mc3c2_box1>h4{
font-size: 22px;
opacity:0.7;

}

.mc3c2_box1>p{
   font-size: 21px;
    line-height: 40px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.mc3c2_box1>i{
font-size: 25px;
margin: 10px;
}

.mc3c2_box1>i:hover{
  color:#ffcc06 ;
}

.main_cantaner4{
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
margin: 0px 0px 50px 0px;
  border: 2px solid red;
}

.mc4_child1{
  width: 90%;
  display: flex;
  height: 400px;
  border: 2px solid blue;
}


