* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  width: 100%;
  height: auto;
}

/* main contaner1 start */

.main_cantaner1 {
  width: 100%;
  height: 87vh;
  background-image: url("../Utils/Image-2.jpg");
  background-size: cover;
  display: flex;
  /* border: 2px solid  */
  justify-content: center;
  align-items: center;
}

.main_cantaner1 > .child1 {
  width: 55%;
  /* border: 2px solid red; */
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.main_cantaner1 > .child1 > p {
  font-size: 22px;
  padding-top: 45px;
  line-height: 30px;
  opacity: 0.7;
}

.main_cantaner1 > .child1 > h1 {
  font-size: 65px;
  font-weight: 800;
}

/* main contaner2 start */

.m_cont2_child1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 125px 80px;
}
.mc2_box1 {
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.mc2_box1:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.mc2_box1 > p {
  font-size: 21px;
  padding: 0px 30px;
  line-height: 40px;
  opacity: 0.7;
}

.mc2_box1 > h2 {
  font-size: 25px;
}

.main_icondiv {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  padding: 24px;
  background-color: #ffcc06;
}

.m_cont2_child2 {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
}

.mcc2_box1 {
  width: 40%;
}

.mcc2_box1 > h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 40px;
}

.mcc2_box1 > p {
  font-size: 21px;
  line-height: 40px;
  opacity: 0.7;
  margin-bottom: 40px;
}

.mcc2_box1 > button {
  padding: 23px 48px;
  width: 45%;
  height: auto;
  font-size: 23px;
  font-weight: 550;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  color: #e8e5e4;
  background-color: #0a0501;
}

.mcc2_box1 > button:hover {
  background-color: #ffcc06;
  color: #0a0501;
}

.mcc2_box2 {
  width: 40%;
  height: 500px;
}

.mcc2_box2 > img {
  width: 100%;
  height: 500px;
}

/* main contaner3 start */

.main_cantaner3 {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 140px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

.m_cont3_child1 {
  width: 100%;
  height: 150px;
  text-align: center;
  align-content: center;
  line-height: 80px;
  margin-top: 120px;
  /* border: 2px solid blue; */
}

.m_cont3_child1 > p {
  font-size: 21px;
  line-height: 40px;
  opacity: 0.7;
  margin-bottom: 40px;
}

.m_cont3_child1 > h1 {
  font-size: 50px;
  font-weight: 800;
}

.m_cont3_child2 {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 55px;
  /* border:2px solid red; */
}

.mc3c2_box1 {
  width: 35%;
  text-align: center;
  /* border: 2px solid red; */
}

.mc3c2_box1 > img {
  width: 450px;
  height: 550px;
  margin-bottom: 70px;
  border-radius: 5px;
}

.mc3c2_box1 > h1,
h4 {
  margin-bottom: 30px;
}

.mc3c2_box1 > h4 {
  font-size: 22px;
  opacity: 0.7;
}

.mc3c2_box1 > p {
  font-size: 21px;
  line-height: 40px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.mc3c2_box1 > i {
  font-size: 25px;
  margin: 10px;
  color: black;
}

.mc3c2_box1 > i:hover {
  color: #ffcc06;
}

.main_cantaner4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  margin: 0px 0px 50px 0px;
}

.mc4_child1 {
  width: 90%;
  display: flex;
  height: 400px;
  border: 2px solid blue;
}

.main_cantaner4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  margin: 150px 0px 50px 0px;
}

.mc4_child1 {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background-image: url("../Utils/BackGround_Image1.jpg");
  background-size: cover;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 400px;
  gap: 300px;
  /* border: 2px solid blue; */
}

.mc4_c1_box {
  width: 550px;
  height: 200px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mc4_c1_box > h1 {
  font-size: 50px;
  font-weight: 800;
  /* color: #fafafa; */
}

.mc4_c1_box > p {
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
}

.mc4_child1 > button {
  padding: 23px 35px;
  width: 25%;
  height: auto;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  color: #040403;
  background-color: #ffffff;
}

.mc4_child1 > button:hover {
  background-color: #ffcc06;
  color: #fafafa;
}

/***********Media Query*****************/

@media (max-width: 430px) {
  .main_cantaner1 {
    height: 77vh;
  }
  .main_cantaner1 > .child1 {
    width: 100%;
  }
  .main_cantaner1 > .child1 > h1 {
    font-size: 30px;
    padding: 0;
  }
  .main_cantaner1 > .child1 > p {
    padding-top: 30px;
    font-size: large !important;
    opacity: 0.7;
    letter-spacing: 0.5px;
    color: #000;
  }
  .m_cont2_child1 {
    flex-direction: column;
    margin: auto;
  }
  .mcc2_box1 > h1 {
    font-size: 30px;
    line-height: normal;
    padding: 0;
    margin: 20px 0;
  }
  .mc2_box1 {
    width: 90%;
    height: 250px;
  }
  .mc2_box1 > p {
    font-size: medium !important;
    color: #000;
    letter-spacing: 0.3px;
  }
  .mcc2_box1 > p {
    font-size: large !important;
    color: #000;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .m_cont2_child2 {
    flex-direction: column;
    margin: 20px 0;
  }
  .mcc2_box1,
  .mcc2_box2 {
    width: 90%;
    margin: auto;
  }
  .mcc2_box2 {
    height: auto;
  }
  .mcc2_box2 > img {
    height: auto;
  }
  .mcc2_box1 > button {
    padding: 15px;
    width: 90%;
    margin: 25px auto;
  }
  .main_cantaner3 {
    padding-bottom: 50px;
    margin-bottom: 15px;
  }
  .m_cont3_child1 {
    margin: auto;
    height: auto;
    line-height: normal;
    width: 100%;
  }
  .m_cont3_child1 > h1 {
    font-size: 30px;
  }
  .m_cont3_child1 > p {
    width: 90%;
    margin: 21px auto;
    font-size: large !important;
    color: #000;
  }
  .m_cont3_child2 {
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: auto;
    width: 90%;
  }
  .mc3c2_box1 {
    width: 100%;
  }
  .mc3c2_box1 > img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .mc3c2_box1 > h1,
  .mc3c2_box1 > h4 {
    margin: 21px auto;
  }
  .mc3c2_box1 > h1 {
    padding: 0;
  }
  .mc3c2_box1 > p {
    width: 70%;
    margin: 21px auto;
    color: #000;
    font-size: larger !important;
  }
  .mc3c2_box1 > i {
    margin: 7px 11px;
    font-size: 17px !important;
  }
  .main_cantaner4 {
    margin: 30px auto;
  }
  .mc4_child1 {
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
  .mc4_c1_box {
    width: 100%;
    height: auto;
  }
  .mc4_c1_box > h1 {
    font-size: 33px;
    padding: 30px 0;
  }
  .mc4_c1_box > p {
    width: 80%;
    margin: auto;
    line-height: 29px !important;
    text-align: center;
    font-size: large !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  .mc4_child1 > button {
    width: 80%;
    padding: 20px 30px;
    margin: 15px auto;
    font-size: 19px;
  }
}
