* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart_page > h3 {
  text-align: center;
  font-size: xx-large;
  padding: 70px 0;
}

.prevBtn,
.nextBtn {
  font-weight: 700;
  font-size: medium;
  margin: 0 10px;
  width: 50px;
  height: 40px;
}

.pageNum {
  font-weight: 700;
}

#pagination {
  margin: 50px;
}

#cart_Products,
.cart_desc {
  display: grid;
  align-content: center;
}

.cart_desc {
  gap: 10px;
  width: 30%;
}

tr {
  width: 61%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 90px;
}

.imgBox {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
  padding: 10px 0;
  width: 70%;
}

.imgBox > p {
  text-align: center;
  margin-left: 160px;
  margin-right: 20px;
  color: #000;
}

.delete_img,
.cart_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.delete_img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.delete_img:hover {
  fill: red;
}

.btns {
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #000;
  padding: 0;
}

.btn_border {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 5px;
}

.upadteButton {
  text-align: right;
  width: 62%;
  margin-top: 10px;
}

.upadteButton > button {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: large;
  font-weight: 700;
}
