* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #1b1b1b;
  color: #d1dce8;
}

.footer_cantaner1 {
  width: 100%;
  background-color: #1b1b1b;
  color: #d1dce8;
}

.Box > h2 {
  padding: 30px 0px 17px 0px;
  font-weight: 600;
  font-size: 21px;
}

.FC_child1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Box {
  width: 20%;
  height: 200px;
  padding: 0px;
}

.ulDiv1 > ul > li,
.ulDiv2 > ul > li,
.ulDiv3 > ul > li {
  list-style: none;
  font-weight: 400 !important;
  font-size: 17px;
  line-height: 35px;
  color: #fff;
}

p,
i {
  line-height: 25px;
  color: #9a9e99;
  font-size: 17px;
}

.FC_child2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 10px;
} */

.img_div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border: 2px solid #9a9e99;
}

.Box > .iconDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.text > h3 {
  font-size: 19px;
}
.text {
  padding-right: 40px;
}

.iconText2 {
  padding-right: 125px;
}

.iconText3 {
  padding-right: 60px;
}

li:hover {
  color: #fda901ff;
  text-decoration: underline;
}

.iconDiv .text p:hover {
  color: #fda901ff;
  text-decoration: underline;
}

.img_div i:hover {
  color: #fda901ff;
}

.footer_cantaner2 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #181818;
  font-weight: normal;
  font-size: 13px;
  padding-left: 60px;
}

.footer_cantaner2 > p:hover {
  color: #fda901ff;
}


@media(max-width:320px){
  
.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}
.FC_child2{
  display: none;
}


}

 @media (min-width:321px) and (max-width:380px){
  .FC_child2{
    display: none;
  }

  
.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}
 }

 @media(min-width:421px) and (max-width:440px){
  
.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    font-size: 17px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 25px;
    font-size: 13px !important;
}
footer {
    width: 100%;
   height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;

 }

 .FC_child2{
  display: none;
 }
}
@media(min-width:431px) and (max-width:840px){
  footer {
    width: 100%;
   height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin:50px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
.hading_3 {

    padding-left: 0px !important;
    padding-top: 40px !important;
}
 .FC_child2{
  display: none;
 }
}

@media(min-width:841px) and (max-width:1340px){

footer {
    width: 100%;
   height: 430px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 28px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
}