* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #1b1b1b;
  color: #d1dce8;
}

.footer_cantaner1 {
  width: 100%;
  background-color: #1b1b1b;
  color: #d1dce8;
}

.Box > h2 {
  padding: 30px 0px 17px 0px;
  font-weight: 600;
  font-size: 21px;
}

.FC_child1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Box {
  width: 20%;
  height: 200px;
  padding: 0px;
}

.ulDiv1 > ul > li,
.ulDiv2 > ul > li,
.ulDiv3 > ul > li {
  list-style: none;
  font-weight: 400 !important;
  font-size: 17px;
  line-height: 35px;
  color: #fff;
}

p,
i {
  line-height: 25px;
  color: #9a9e99;
  font-size: 17px;
}

.FC_child2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 10px;
} */

.img_div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border: 2px solid #9a9e99;
}

.Box > .iconDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.text > h3 {
  font-size: 19px;
}
.text {
  padding-right: 40px;
}

.iconText2 {
  padding-right: 125px;
}

.iconText3 {
  padding-right: 60px;
}

li:hover {
  color: #fda901ff;
  text-decoration: underline;
}

.iconDiv .text p:hover {
  color: #fda901ff;
  text-decoration: underline;
}

.img_div i:hover {
  color: #fda901ff;
}

.footer_cantaner2 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #181818;
  font-weight: normal;
  font-size: 13px;
  padding-left: 60px;
}

.footer_cantaner2 > p:hover {
  color: #fda901ff;
}
