* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #1b1b1b;
  color: #d1dce8;
}

.footer_cantaner1 {
  width: 100%;
  background-color: #1b1b1b;
  color: #d1dce8;
}

h2 {
  padding: 30px 0px 17px 0px;
  font-weight: 600;
  font-size: 25px;
}

.FC_child1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Box {
  width: 20%;
  height: 200px;
  padding: 0px;
}

ul {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}

p,
i {
  line-height: 30px;
  color: #9a9e99;
  font-size: 20px;
  font-weight: 500;
}

.FC_child2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 10px;
} */

.img_div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border: 2px solid #9a9e99;
}

.iconDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
   line-height: 30px;
  padding:5px 0px ;
   margin-bottom: 10px;
}

h3{
    font-size: 22px;
}
.text {
  padding-right: 40px;
}

.iconText2 {
  padding-right: 125px;
}

.iconText3 {
  padding-right: 60px;
}

li:hover {
  color: #ebb44d;
  text-decoration: underline;
}

.iconDiv .text p:hover {
  color: #ebb44d;
  text-decoration: underline;
}

.img_div i:hover {
  color: #ebb44d;
}

.footer_cantaner2{
  width: 100%;
  height:100px;
  display: flex;
  align-items: center;
  background-color:#181818;
  font-weight: normal;
  font-size:13px;
  padding-left: 60px;
}
