@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.parent1 {
  padding: 150px 100px;
  background-image: url(../Utils/Image-1.jpg);
  background-position: center;
  display: flex;
  height: 115vh;
  justify-content: left;
  align-items: center;
  gap: 220px;
}

.ugb-custom-icon {
  fill: #f4f4f4;
  width: 80px;
  height: 80px;
  margin-top: 65px;
  margin-left: 20px;
  cursor: pointer;
}

h1,
h5 {
  padding-top: 25px;
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

h5 {
  font-weight: 600;
  font-size: 16.5px;
  opacity: 0.5;
  padding-bottom: 25px;
  padding-top: 15px;
}

button {
  font-family: "Open Sans", sans-serif;
  width: 190px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  background-color: black;
  color: whitesmoke;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #000;
  background-color: #fda901ff;
}

/* Discount */

.hot_discount {
  position: relative;
  top: -100px;
  padding: 0 100px;
  z-index: 3;
  display: flex;
  height: 80vh;
  justify-content: center;
  /* border: 1px solid red; */
}

.discount_child1 {
  background-color: whitesmoke;
}

.discount_child1,
.discount_child2 {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 20px;
}

.discount_child2 {
  background-image: url(../Utils/Image-7.jpg);
  background-size: cover;
}

.discount_child1d {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.discount_child1a > img,
.client_img > img {
  border-radius: 50%;
  border: 0;
  width: 80px;
  height: 80px;
}

.discount_child1b {
  cursor: text;
}

.discount_child1b > h5 {
  padding: 0;
  opacity: 1;
  font-size: 23px;
  font-weight: 700;
}

.discount_child1c > h3 {
  font-size: 40px;
  padding-left: 37px;
  font-weight: 1000;
  font-family: "Open Sans", sans-serif;
}

.discount_child1c > p {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 17px;
  letter-spacing: 0.5px;
  padding-left: 30px;
  opacity: 0.6;
  font-weight: 400;
}

.discount_child2 {
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 20px;
}

.discount_child2 > h3 {
  font-size: 39px;
  font-weight: 1000;
  color: #fff;
  font-family: "Open Snas", sans-serif;
}

.backpack > h4,
.popular > h4,
.clients > h4,
.clients > p,
.popular > p,
.feature > h4,
.backpack > p,
.feature > p {
  font-size: 35px;
  text-align: center;
  font-family: "Open Snas", sans-serif;
  font-weight: 1000;
  padding: 5px 0;
}

.backpack > p,
.clients > p,
.popular > p,
.feature > p {
  font-size: 18px;
  font-weight: 500;
  opacity: 1;
  padding: 10px 0;
  padding-bottom: 50px;
}

.discount_child2 > p {
  font-size: 18.5px;
  font-weight: 500;
  font-family: "Open Snas", sans-serif;
  color: #fff;
}

.backpack_parent {
  display: flex;
  padding: 0 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.backpack_child1,
.backpack_child2,
.backpack_child3,
.backpack_child4 {
  /* border: 1px solid black; */
  width: 25%;
  height: 79vh;
  filter: grayscale(0.1);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.backpack_child1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(../Utils/BackPack_Image1.jpg) center/cover no-repeat;
}

.backpack_child2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(../Utils/BackPack_Image2.jpg) center/cover no-repeat;
}

.backpack_child3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(../Utils/BackPack_Image3.jpg) center/cover no-repeat;
}

.backpack_child4:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      /* bottom darker */ rgba(0, 0, 0, 0.2) /* top lighter */
    ),
    url(../Utils/BackPack_Image4.jpg) center/cover no-repeat;
}

.backpack_child1 > p,
.backpack_child1 > h5,
.backpack_child2 > p,
.backpack_child2 > h5,
.backpack_child3 > p,
.backpack_child3 > h5,
.backpack_child4 > p,
.backpack_child4 > h5 {
  color: #fff;
  font-weight: 700;
  opacity: 1;
}

.backpack_child1 > h5,
.backpack_child2 > h5,
.backpack_child3 > h5,
.backpack_child4 > h5 {
  font-size: x-large;
}

.backpack_child1 > p,
.backpack_child2 > p,
.backpack_child3 > p,
.backpack_child4 > p {
  font-size: 25px;
  font-weight: 500;
}

.backpack_child1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../Utils/BackPack_Image1.jpg") center/cover no-repeat;
  padding: 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 20px;
}

.backpack_child2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../Utils/BackPack_Image2.jpg") center/cover no-repeat;
  padding: 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 20px;
}

.backpack_child3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../Utils/BackPack_Image3.jpg") center/cover no-repeat;
  padding: 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 20px;
}

.backpack_child4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../Utils/BackPack_Image4.jpg") center/cover no-repeat;
  padding: 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 20px;
}

.feature > h4 {
  font-size: 37px;
  margin-top: 50px;
}

.imageContainer,
.imageContainer1,
#product,
#popular_products {
  display: flex;
  align-items: center;
  gap: 30px;
}

#product,
#popular_products {
  margin: auto;
  justify-content: center;
}

.imgbox > img,
.imgbox1 > img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  object-fit: cover;
}

.imgbox > h5,
.imgbox1 > h5 {
  padding: 10px 0;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.imgbox > h5:hover,
.imgbox1 > h5:hover {
  opacity: 0.7;
}

.imgbox > p,
.imgbox1 > p {
  font-size: 15px;
  font-weight: 700;
  opacity: 0.6;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 5px 0;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.category:hover,
.category1:hover {
  color: #fda901ff;
  cursor: pointer;
}

.imgbox > button,
.imgbox1 > button {
  margin: 7px 0;
  font-size: 17px;
  width: 130px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.imgbox > button:hover,
.imgbox1 > button:hover {
  color: #fff;
  background-color: #fda901ff;
}

.deal {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Utils/BackGround_Image1.jpg);
  width: 95%;
  background-position: center;
  background-size: cover;
  height: 55vh;
  margin: auto;
  padding: 0 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}

.deal_child1 > h5 {
  opacity: 1;
  font-size: 17px;
}

.deal_child1 > h2 {
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.deal_child1 > button {
  width: 220px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.deal_child1 > button:hover {
  background-color: #fda901ff;
  color: #fff;
}

.deal_child2 > h1,
.deal_child2 > h1 > p {
  font-size: 150px;
  color: #fff;
}

.deal_child2 > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 700;
}

.deal_child2 > h4 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.clients {
  margin-top: 100px;
}

.clients > h4 {
  font-size: 40px;
}

.clients_parent,
.client_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.client_profile {
  justify-content: left;
  gap: 15px;
  padding: 25px 0;
}

.client_img > img {
  width: 60px;
  height: 60px;
}

.client_text > h5 {
  padding: 0;
  opacity: 1;
  font-weight: 700;
}

.clients_parent {
  padding: 20px 0;
  background-color: #f4f4f4;
}

.clients_child1,
.clients_child2,
.clients_child3 {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 100px;
}

.clients_child1 > p,
.client_child1 > p,
.client_text > p {
  font-size: 19px;
  color: #000;
  opacity: 0.7;
}

/* Modal background */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

/* Modal box */
.modal-content,
.modal-content1 {
  width: 100%;
  position: relative;
  margin: auto;
  top: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  height: 100%;
}

/* Close button */
.close {
  position: absolute;
  top: -20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

#videoFrame {
  position: absolute;
  top: 40px;
  left: 185px;
  width: 75%;
  height: 80%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 320px) {
  .parent_child2,
  .video_container,
  .deal_child2,
  .discount_child2 > p > br,
  .clients_child1 > p > br,
  .client_child1 > p > br,
  .client_text > p > br {
    display: none;
  }
  .child2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .parent1 {
    padding: 100px 15px;
    padding-bottom: 150px;
    gap: 0;
    height: auto;
  }
  .hot_discount {
    top: 0;
    padding: 0;
    z-index: 0;
    display: grid;
    height: auto;
  }
  .backpack_parent,
  .imageContainer,
  .imageContainer1,
  .clients_parent,
  .discount_child1d,
  .client_profile {
    display: grid;
  }
  .deal {
    height: 80vh;
    width: 90%;
    margin: 50px auto;
    display: block;
    padding: 30px 30px;
  }
  .deal_child1 {
    margin: 20px 15px;
  }
  .clients_parent {
    gap: 0;
    padding: 0;
  }
  .clients_child1,
  .clients_child2,
  .clients_child3 {
    text-align: center;
    padding: 20px 35px;
    padding-top: 50px;
    margin: auto;
    display: block;
    width: 90%;
  }
  .clients_child2,
  .clients_child3 {
    margin-top: 20px;
  }
  .clients_child3 {
    margin-bottom: 70px;
  }
  .client_profile {
    justify-content: center;
  }
  h1 {
    padding-top: 50px;
    font-size: 29px;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  button {
    width: 60%;
    display: block;
    margin: auto;
  }
  .hot_discount {
    width: 100%;
  }
  .discount_child1,
  .discount_child2 {
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
  }
  .discount_child1 {
    margin-top: -70px;
    padding: 30px 20px;
  }
  .discount_child1d {
    justify-items: center;
    align-content: center;
  }
  .discount_child1a {
    width: 100%;
  }
  .discount_child1a > img {
    display: block;
    width: 45%;
    margin: auto;
    object-fit: fill;
    /* border: 2px solid red; */
    height: auto;
  }
  .discount_child1b {
    text-align: center;
    padding-top: 5px;
  }
  .discount_child1b > h5 {
    font-size: 19px;
    padding: 5px 0;
  }
  .discount_child1b > p {
    color: #000;
    opacity: 0.7;
    letter-spacing: 0.5px;
  }
  .discount_child1c > h3 {
    padding: 0;
    padding-top: 30px;
    font-size: 29px;
    text-align: center;
  }
  .discount_child1c > p {
    text-align: center;
    padding: 10px 0;
    opacity: 0.8;
  }
  .discount_child2 {
    height: 75vh;
    padding: 33px;
    background-position: right;
  }
  .discount_child2 > h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
  .discount_child2 > p {
    font-size: 19px;
    text-align: center;
    font-weight: 100;
  }
  .discount_child2 > button {
    padding: 15px 41px;
    font-size: 19px;
    width: 90%;
    height: auto;
  }
  .backpack > h4 {
    padding-top: 50px;
    font-size: 27px;
  }
  .backpack > p {
    font-size: 17px;
    color: #000;
    opacity: 0.7;
    padding: 5px 0;
    padding-bottom: 35px;
  }
  .backpack_parent {
    padding: 0 21px;
  }
  .backpack_child1,
  .backpack_child2,
  .backpack_child3,
  .backpack_child4 {
    width: 100%;
    height: 95vh;
    background-size: auto;
  }
  .backpack_child1 > h5,
  .backpack_child2 > h5,
  .backpack_child3 > h5,
  .backpack_child4 > h5 {
    line-height: 1.3;
    text-align: left;
  }
  .backpack_child1 > p,
  .backpack_child2 > p,
  .backpack_child3 > p,
  .backpack_child4 > p {
    font-size: 20px;
    line-height: 1.7;
  }
  .feature {
    margin: 15px 0;
    margin-top: 100px;
    padding: 0;
  }
  .feature > h4,
  .popular > h4,
  .clients > h4 {
    font-size: 29px;
  }
  .feature > p,
  .popular > p,
  .clients > p {
    font-size: 19px;
    color: #000;
    opacity: 0.75;
    letter-spacing: 0.5px;
    margin: auto;
    display: block;
    width: 90%;
  }
  #product,
  #popular_products {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
  }
  .imgbox > h5,
  .imgbox1 > h5 {
    text-align: left;
    font-weight: 700;
  }
  .imgbox > button,
  .imgbox1 > button {
    height: 50px;
    width: 120px;
  }
  .deal_child1 > h2 {
    font-size: 30px;
    text-align: center;
    padding: 0;
  }
  .deal_child1 > h5 {
    font-size: 19px;
    font-weight: 400;
    padding: 30px 0;
  }
  .deal_child1 > button {
    width: 100%;
    height: 15vh;
    padding: 15px 30px;
  }
  .clients_child1 > p,
  .client_child1 > p,
  .client_text > p {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 321px) and (max-width: 430px) {
  .parent_child2,
  .video_container,
  .deal_child2,
  .discount_child2 > p > br,
  .clients_child1 > p > br,
  .client_child1 > p > br,
  .client_text > p > br {
    display: none;
  }
  .child2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .parent1 {
    padding: 100px 15px;
    padding-bottom: 150px;
    gap: 0;
    height: auto;
  }
  .hot_discount {
    top: 0;
    padding: 0;
    z-index: 0;
    display: grid;
    height: auto;
  }
  .backpack_parent,
  .imageContainer,
  .imageContainer1,
  .clients_parent,
  .discount_child1d,
  .client_profile {
    display: grid;
  }
  .deal {
    height: 80vh;
    width: 90%;
    margin: 50px auto;
    display: block;
    padding: 30px 30px;
  }
  .deal_child1 {
    margin: 20px 15px;
  }
  .clients_parent {
    gap: 0;
    padding: 0;
  }
  .clients_child1,
  .clients_child2,
  .clients_child3 {
    text-align: center;
    padding: 20px 30px;
    padding-top: 50px;
    margin: auto;
    display: block;
    width: 90%;
  }
  .clients_child2,
  .clients_child3 {
    margin-top: 20px;
  }
  .clients_child3 {
    margin-bottom: 70px;
  }
  .client_profile {
    justify-content: center;
  }
  h1 {
    padding-top: 50px;
    font-size: 29px;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  button {
    width: 60%;
    display: block;
    margin: auto;
  }
  .hot_discount {
    width: 100%;
  }
  .discount_child1,
  .discount_child2 {
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
  }
  .discount_child1 {
    margin-top: -70px;
    padding: 30px 20px;
  }
  .discount_child1d {
    justify-items: center;
    align-content: center;
  }
  .discount_child1a {
    width: 100%;
  }
  .discount_child1a > img {
    display: block;
    width: 45%;
    margin: auto;
    object-fit: fill;
    /* border: 2px solid red; */
    height: auto;
  }
  .discount_child1b {
    text-align: center;
    padding-top: 5px;
  }
  .discount_child1b > h5 {
    font-size: 19px;
    padding: 5px 0;
  }
  .discount_child1b > p {
    color: #000;
    opacity: 0.7;
    letter-spacing: 0.5px;
  }
  .discount_child1c > h3 {
    padding: 0;
    padding-top: 30px;
    font-size: 29px;
    text-align: center;
  }
  .discount_child1c > p {
    text-align: center;
    padding: 10px 0;
    opacity: 0.8;
  }
  .discount_child2 {
    height: 75vh;
    padding: 33px;
    background-position: right;
  }
  .discount_child2 > h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
  .discount_child2 > p {
    font-size: 19px;
    text-align: center;
    font-weight: 100;
  }
  .discount_child2 > button {
    padding: 15px 41px;
    font-size: 19px;
    width: 90%;
    height: auto;
  }
  .backpack > h4 {
    padding-top: 50px;
    font-size: 27px;
  }
  .backpack > p {
    font-size: 17px;
    color: #000;
    opacity: 0.7;
    padding: 5px 0;
    padding-bottom: 35px;
  }
  .backpack_parent {
    padding: 0 21px;
  }
  .backpack_child1,
  .backpack_child2,
  .backpack_child3,
  .backpack_child4 {
    width: 100%;
    height: 95vh;
    background-size: auto;
  }
  .backpack_child1 > h5,
  .backpack_child2 > h5,
  .backpack_child3 > h5,
  .backpack_child4 > h5 {
    line-height: 1.3;
    text-align: left;
  }
  .backpack_child1 > p,
  .backpack_child2 > p,
  .backpack_child3 > p,
  .backpack_child4 > p {
    font-size: 20px;
    line-height: 1.7;
  }
  .feature {
    margin: 15px 0;
    margin-top: 100px;
    padding: 0;
  }
  .feature > h4,
  .popular > h4,
  .clients > h4 {
    font-size: 29px;
  }
  .feature > p,
  .popular > p,
  .clients > p {
    font-size: 19px;
    color: #000;
    opacity: 0.75;
    letter-spacing: 0.5px;
    margin: auto;
    display: block;
    width: 90%;
  }
  #product,
  #popular_products {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
  }
  .imgbox > h5,
  .imgbox1 > h5 {
    text-align: left;
    font-weight: 700;
  }
  .imgbox > button,
  .imgbox1 > button {
    height: 50px;
    width: 120px;
  }
  .deal_child1 > h2 {
    font-size: 30px;
    text-align: center;
    padding: 0;
  }
  .deal_child1 > h5 {
    font-size: 19px;
    font-weight: 400;
    padding: 30px 0;
  }
  .deal_child1 > button {
    width: 100%;
    height: 15vh;
    padding: 15px 30px;
  }
  .clients_child1 > p,
  .client_child1 > p,
  .client_text > p {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 431px) and (max-width: 840px) {
  .parent_child2,
  .video_container,
  .deal_child2,
  .collection_text > h1 > br,
  .collection_text > h5 > br,
  .discount_child2 > p > br,
  .clients_child1 > p > br,
  .client_child1 > p > br,
  .client_text > p > br {
    display: none;
  }
  .child2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .parent1 {
    padding: 100px 15px;
    padding-bottom: 150px;
    background-position: top center;
    gap: 0;
    height: auto;
  }
  .hot_discount {
    top: 0;
    padding: 0;
    z-index: 0;
    display: grid;
    height: auto;
  }
  .backpack_parent,
  .imageContainer,
  .imageContainer1,
  .clients_parent,
  .client_profile {
    display: grid;
  }
  .deal {
    height: 80vh;
    width: 90%;
    margin: 50px auto;
    display: block;
    padding: 30px 30px;
  }
  .deal_child1 {
    margin: 20px 15px;
  }
  .clients_parent {
    gap: 0;
    padding: 0;
  }
  .clients_child1,
  .clients_child2,
  .clients_child3 {
    text-align: center;
    padding: 20px 30px;
    padding-top: 50px;
    margin: auto;
    display: block;
    width: 90%;
  }
  .clients_child2,
  .clients_child3 {
    margin-top: 20px;
  }
  .clients_child3 {
    margin-bottom: 70px;
  }
  .client_profile {
    justify-content: center;
  }
  h1 {
    padding: 11px 50px;
    padding-top: 50px;
    font-size: 55px;
    text-align: center;
  }
  h5 {
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 0.7;
    font-size: 17px;
    text-align: center;
  }
  button {
    width: 30%;
    display: block;
    margin: auto;
  }
  .hot_discount {
    width: 100%;
  }
  .discount_child1,
  .discount_child2 {
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
  }
  .discount_child1 {
    margin-top: -70px;
    padding: 30px 20px;
  }
  .discount_child1d {
    padding-left: 60px;
  }
  .discount_child1b > h5 {
    text-align: left;
  }
  .discount_child1c > h3 {
    padding: 0;
    padding-top: 30px;
  }
  .discount_child1c > p {
    padding: 10px 0;
    opacity: 0.8;
  }
  .discount_child1c {
    margin-bottom: 21px;
  }
  .discount_child2 {
    height: 60vh;
    padding: 60px 21px;
    background-position: right center;
  }
  .discount_child2 > h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
  }
  .discount_child2 > p {
    font-size: 17.5px;
    padding: 0 65px;
    font-weight: 100;
  }
  .discount_child2 > button {
    padding: 15px 41px;
    font-size: 18px;
    width: 33%;
    height: 12vh;
    margin: auto 60px;
  }
  .backpack > h4 {
    padding-top: 70px;
    font-size: 40px;
  }
  .backpack > p {
    font-size: 17px;
    color: #000;
    opacity: 0.7;
    padding: 5px 0;
    letter-spacing: 0.4px;
    padding-bottom: 35px;
    font-weight: 100;
  }
  .backpack_parent {
    padding: 0 21px;
  }
  .backpack_parent {
    grid-template-columns: repeat(2, 1fr);
    width: 97%;
    margin: auto;
  }
  .backpack_child1,
  .backpack_child2,
  .backpack_child3,
  .backpack_child4 {
    width: 100%;
    height: 95vh;
    background-size: auto;
  }
  .backpack_child1 > h5,
  .backpack_child2 > h5,
  .backpack_child3 > h5,
  .backpack_child4 > h5 {
    padding: 21px 11px;
    font-size: larger;
    text-align: left;
  }
  .backpack_child1 > p,
  .backpack_child2 > p,
  .backpack_child3 > p,
  .backpack_child4 > p {
    font-size: 19px;
    font-weight: 100;
    padding-left: 11px;
    padding-bottom: 30px;
  }
  .feature {
    margin: 15px 0;
    margin-top: 100px;
    padding: 0;
  }
  .feature > h4,
  .popular > h4,
  .clients > h4 {
    font-size: 29px;
  }
  .feature > p,
  .popular > p,
  .clients > p {
    font-size: 19px;
    color: #000;
    opacity: 0.75;
    letter-spacing: 0.5px;
    margin: auto;
    display: block;
    width: 90%;
  }
  #product,
  #popular_products {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
  }
  .imgbox > h5,
  .imgbox1 > h5 {
    text-align: left;
    font-weight: 700;
  }
  .imgbox > button,
  .imgbox1 > button {
    height: 50px;
    width: 120px;
  }
  .deal_child1 > h2 {
    font-size: 30px;
    text-align: center;
    padding: 0;
  }
  .deal_child1 > h5 {
    font-size: 19px;
    font-weight: 400;
    padding: 30px 0;
  }
  .deal_child1 > button {
    width: 100%;
    height: 15vh;
    padding: 15px 30px;
  }
  .clients_child1 > p,
  .client_child1 > p,
  .client_text > p {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}
