* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.main_parent {
  padding: 20px 50px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 21px;
  height: 21px;
  object-fit: cover;
  fill: #000;
  transition: color 0.2s ease;
}

.cart {
  width: 31px;
  height: 31px;
  transition: color 0.2s ease;
}

.icon:hover,
.cart:hover {
  fill: #f6bf54;
}

.child1,
.child3,
.parent_child1,
.parent_child2,
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent_child1 {
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid rgb(222, 220, 220);
}

.child1 {
  gap: 20px;
}

.child3 {
  gap: 17px;
}

.child2 > img {
  width: 200px;
  height: 100px;
  object-fit: fill;
  margin-left: 150px;
}

.child1:hover,
.child2:hover,
.child3:hover {
  cursor: pointer;
}

.parent_child2 {
  padding: 30px 0;
  margin: auto;
}

ul,
li {
  list-style: none;
  gap: 30px;
  font-size: 17px;
  font-weight: 700;
  opacity: 0.8;
}

li:hover,
select:hover {
  color: #f6bf54;
  cursor: pointer;
}

select {
  border: none;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  opacity: 0.8;
}

/* Battery Css */

.battery {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 15px;
}

.battery_box {
  border: 4px solid #00b9f5;
  width: 35px;
  height: 15px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.battery_level {
  height: 100%;
  width: 0%;
  background-color: #00b9f5;
  transition: width 0.5s ease;
}

.battery_tip {
  width: 10px;
  height: 30px;
  background-color: #00b9f5;
  border-radius: 3px;
  position: absolute;
  right: -15px;
  top: 10px;
}

.battery_info {
  padding-top: 1.5px;
  font-size: 9px;
  font-weight: 600;
}
