@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.login-page{
    width: 500px;
    height: 420px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2), 
    0 5px 5px 0 rgb(0, 0, 0, 0.24) ;
    background: #ffff;
}

.login-page h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.input-box{
    margin-bottom: 10px;
}



.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  height: 60px;
  padding: 20px 15px 10px;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  background: #f2f2f2;
  outline: none;
  transition: border 0.2s ease;
}

/* Label design */
.input-box label {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #6a6969;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
  padding: 0 5px;
}

/* Floating label on focus or if value is entered */
.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -10px;
  left: 1px;
  white-space: 5px;
  font-size: 20px;
  background-color:  #f7f4f4;
  color: #333;
}


.input-box input:focus {
  border: 1px solid #fda901ff;
}


.login-page button{
    width: 100%;
    border-radius: 5px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    background:black;
    border: 0;
    color: #ffff;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-page button:hover{
    background:  #fda901ff;
}

.login-page p{
    color: #b3b3b3;
    font-size: 23px;
    padding: 9px 0px;
}

span {
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: #ef7036;
}
.message_forsignin
{
   color: #696969;
   font-size: 18px; 
   padding:10px 0px;
}
.Admin-form{
    display: none;
}
.message{
    width: 100% !important;
    border: none;
    height: 70px;
    font-size: 23px !important;
    font-weight: bold;
    color: #fff;
   background-color: black;
   border-radius: 2px;
}
 .message.active {
  background-color: #fda901ff !important;
  color: white;
} 

.extra_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin_login_page{
    height: 600px;
    width: 32%;
    margin: auto;
    padding: 40px 0px;
    position: relative;
}
