* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adventure {
  background-image: url(../Utils/Image-8.jpg);
  text-align: center;
  height: 60vh;
  background-position: center;
}
.adventure > h1 {
  padding-top: 150px;
  padding-left: 20px;
  font-size: 50px;
}
.shop_page > #product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  margin: 110px 0;
}
.filter {
  border: 1px solid;
  padding: 7px;
  width: 150px;
  float: right;
  margin-top: 50px;
  margin-right: 150px;
  text-align: center;
}
.filter:hover {
  text-decoration: none;
}
