* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adventure {
  background-image: url(../Utils/Image-8.jpg);
  text-align: center;
  height: 60vh;
  background-position: center;
}

.adventure > h1 {
  padding-top: 150px;
  padding-left: 20px;
  font-size: 50px;
}

.product_child1 > #product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
  margin: 110px 50px;
}

.filter {
  border: 1px solid;
  padding: 7px;
  width: 150px;
  float: right;
  margin-top: 50px;
  margin-right: 70px;
  text-align: center;
}

.filter:hover {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #fda901ff;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.pagination button:hover:not(:disabled) {
  background-color: #fda901ff;
  color: #000;
}

.pagination button.active {
  background-color: #000;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.8;
  background-color: #9a9e99;
  color: #000;
  cursor: not-allowed;
}

.pageNum {
  font-weight: 700;
  letter-spacing: 1px;
}

.product_child2 {
  display: none;
  transition: all 0.7s ease-in-out;
  width: 33%;
  padding-top: 27px;
  padding-right: 15px;
}

.product_child2 > h5 {
  font-size: large;
  opacity: 1;
  text-transform: capitalize;
  font-weight: 700;
}

.product_parent,
.flexDiv,
.flexDiv1 {
  display: flex;
  gap: 20px;
}

#top_rated_products1 {
  margin-bottom: 50px;
}

#top_rated_products,
#top_rated_products1 {
  gap: 50px;
}

#top_rated_products,
.gridDiv,
#top_rated_products1,
.gridDiv1 {
  display: grid;
  justify-items: start;
  align-content: center;
}

.gridDiv > h5,
.gridDiv > p,
.gridDiv1 > h5,
.gridDiv1 > p {
  padding: 0;
  text-transform: capitalize;
}

.gridDiv > h5:hover,
.gridDiv1 > h5:hover {
  color: #fda901ff;
  cursor: pointer;
}

.gridDiv > h5,
.gridDiv1 > h5 {
  transition: all 0.3s ease-in-out;
  font-size: large;
  opacity: 0.7;
}

.gridDiv > p,
.gridDiv1 > p {
  padding-top: 5px;
}

.productImg,
.productImg1 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.product_child2 > input {
  border: 2px solid #9a9e99;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin: 20px 0;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.product_child2 > input:hover,
.product_child2 > input:focus {
  border: 2px solid #fda901ff;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.result > h3 {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media (max-width: 320px) {
  .adventure > h1 > br,
  .product_child2 {
    display: none !important;
  }
  .pageNum {
    font-size: 15px;
  }
  .adventure {
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
  .adventure > h1 {
    font-size: 25px;
    padding: 50px 20px;
  }
  .product_child1 > #product {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px auto;
    margin-top: 110px;
    width: 87%;
  }
  .result > h3 {
    font-size: larger;
    font-weight: 700;
  }
  .filter {
    margin-right: 25px !important;
  }
  .product_parent {
    margin-left: 0 !important;
  }
}

@media (min-width: 321px) and (max-width: 430px) {
  .adventure > h1 > br,
  .product_child2 {
    display: none !important;
  }
  .pageNum {
    font-size: 15px;
  }
  .adventure {
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
  .adventure > h1 {
    font-size: 25px;
    padding: 50px 20px;
  }
  .product_child1 > #product {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px auto;
    margin-top: 110px;
  }
  .iamgeContainer {
    width: 90%;
    display: block;
    margin: auto;
    /* border: 2px solid; */
  }
  .filter {
    margin-right: 25px !important;
  }
  .product_parent {
    margin-left: 0 !important;
  }
  .result > h3 {
    font-size: larger;
    font-weight: 700;
  }
}

@media (min-width: 431px) and (max-width: 840px) {
  .adventure > h1 > br,
  .product_child2 {
    display: none !important;
  }
  .pageNum {
    font-size: 15px;
  }
  .adventure {
    height: 40vh;
    background-size: cover;
    background-position: bottom;
  }
  .adventure > h1 {
    font-size: 25px;
    padding: 50px 20px;
  }
  .product_child1 > #product {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
    margin-top: 110px;
    gap: 0 !important;
  }
  .iamgeContainer {
    width: 90%;
    display: block;
    margin: auto;
    /* border: 2px solid; */
  }
  .filter {
    margin-right: 25px !important;
  }
  .product_parent {
    margin-left: 0 !important;
  }
  .result > h3 {
    font-size: x-large;
    font-weight: 700;
  }
}

@media (min-width: 841px) and (max-width: 1340px) {
  .filter {
    margin-right: 30px !important;
  }
  .product_parent {
    gap: 50px;
  }
  .productTitle,
  .productTitle1 {
    font-size: medium !important;
  }
  .product_child1 > #product {
    margin: 110px auto;
  }
  .sidebar-active .product_child1 > #product {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .result > h3 {
    font-size: x-large;
    font-weight: 700;
  }
}

@media (min-width: 2560px) {
  .adventure {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .product_parent {
    justify-content: center;
    align-items: center;
  }
  .sidebar-active .product_parent {
    align-items: flex-start;
  }
  .product_child2 {
    width: 19%;
  }
  .result > h3 {
    font-size: 55px;
    font-weight: 700;
  }
}
