@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px; /* adds spacing from nav and footer */
}

.login-page {
  width: 530px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2),0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
  border-radius: 10px;
}


.login-page .heding{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}



.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 60px;
    padding: 20px 15px 10px;
    margin: 2px 0px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background: #f2f2f2;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 16px;
    left: 20px;
    color: #6a6969;
    font-size: 24px;
    pointer-events: none;
    transition: 0.2s ease all;
}
.input-box input:focus{
    border: 1px solid  #fda901ff;;
}


/* When input is focused OR not empty */
.input-box input:focus + label,
.input-box input:valid + label {
    top: -12px;
    background-color: #f0eded;
    left: 6px;
    font-size:22px;
    word-wrap: 6px;
    color: rgb(70, 69, 69);
}


.login-page button{
    width: 100%;
    border-radius: 5px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    background:black;
    border: 0;
    color: #ffff;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-page button:hover{
    background:  #fda901ff;
}

.login-page p{
    color: #b3b3b3;
    font-size: 23px;
    padding: 9px 0px;
}

.login-page p a{
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: #ef7036;
}

.Admin-form{
    display: none;
}
