@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.img_1{
     width: 670px;
    border: 1px solid rgb(244, 239, 182); 
    border-radius: 10px;
    height: 860px;
}
.Category_span{
    font-weight: normal;
    font-size: 25px;
}
.maindiv{
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
    gap: 60px;
}
.title_1{
    font-size:38px;
    color: #0d0806;
}
.price_1{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: bolder;
    color: #545452;
}
.description_1{
    font-size: 27px;
    padding:35px 0px;
    word-wrap: 19px;
    color: #5e5f5b;
    border: 2px solid #cdcecb;
    border-left:none ;
    border-right:none ;
    border-top: none;
}
.category_1{
    font-size: 25px ;
    font-weight: bold;
    color: #383837;
}
/* .informationdiv{
    border: 1px solid black ;
} */

.info1{
    display: flex;
    gap: 35px;
    padding: 40px 0px;
}
.add_button_1{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 29%;
    border-radius: 5px;
    color: #5d5d5d;

}
.add_card{
   font-size: 28px;
   font-weight: bold;
    border: transparent; 
   margin: auto;
   width: 20%;
   height: 38px;
   background: white;
    color: #5d5d5d;

}
 .add_card:hover{
    background-color:#ffcc25;border-radius: 5px;
     color: white;
    
} 
.count:hover{
    background-color:#ffcc25;
    /* padding:5px 0px; */
    border-radius: 5px;
     color: white;
}
.count{
    text-align: center;
    font-size: 25px;
    padding:5px 0px;
    margin: auto;
    width: 20%;
    height: 38px;
   background: white;
}
.add_button_2{
  width: 67%;
  border-radius: 5px;
  background-color: #0d0806;
  border: transparent;
  color: white;
  font-size:24px;
  height: 70px;
}
.add_button_2:hover{
 background-color: #eac004;
}

.description_text{
    padding: 10px 44px;
    text-align: center;
}
.heading_1{
    text-align: center;
    color:#eac004;
    text-decoration: underline;
    font-size: 37px;
    padding: 30px 0px;
}
.p1,.p2{
      font-size: 27px;
      color: #7a7a78;
}
.p2{
    padding: 20px 0px;
}

/****************/
.img_2{
    width: 300px;
    height: 420px;
    border-radius:5px;
}
.title_2{
    font-size: 19px;
    padding: 15px 0px;
    /* width: 95%; */
    font-weight: bold;
}
.price_2{
    font-size: 20px;
    font-weight: bold;
    color: #606060;
}
.category_2{
    font-size: 21px;
    color:#343433;
    padding: 8px 0px;
}
.imageContainer{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
     padding: 20px  0px;

}
.Category_span_1{
    font-size: 22px;
    font-weight: bold;
     color: #606060;
}
.hading_3{
    text-align: start;
  padding-left: 49px;
    font-size: 33px;
    padding-top: 50px;
    color: #090604;
}
.siple_pro_btn{
    width: 180px;
    height: 50px;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color:#0a0501;
    border-radius: 5px;
}
.siple_pro_btn:hover{
    background-color: #eac004;
    border: 1px solid #eac004;
}

/* media query */

@media(max-width:320px){

    .main_parent {
    padding: 20px 16px !important;
    height: 140px !important;
}
     .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.add_card {
    font-size: 22px;
}
.img_1 {
    width: 300px;
    border: 1px solid rgb(244, 239, 182);
    border-radius: 10px;
    height: 400px;
}
.parent_child2 {
    padding: 0px 0 !important;
    margin: auto;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}
.child1,#search,.battery,.icon,.cart_num,.FC_child2 {
    display: none !important;
}
.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0;
}
.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
.title_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.price_1 {
    font-size: 25px;
    padding: 4px 10px !important;
}
.category_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 10px !important;
}
.add_button_2 {
        width: 45%;
        font-size: 18px !important;
        height: 50px !important;
    }
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
        padding-left: 10px  !important;
        font-size: 25px !important;
        padding-top: 4px !important;
}

.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}
}

 @media (min-width:321px) and (max-width:380px){
      .main_parent {
    padding: 20px 16px !important;
            height: 140px !important;
}
     .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.add_card {
    font-size: 22px;
}
.img_1 {
        width: 332px !important;
        border: 1px solid rgb(244, 239, 182);
        border-radius: 10px;
        height: 440px !important;
    }
.parent_child2 {
    padding: 0px 0 !important;
    margin: auto;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}
.child1,#search,.battery,.icon,.cart_num,.FC_child2 {
    display: none !important;
}
.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0;
}
.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
.title_1 {
    padding: 0px 10px !important;
    font-size: 22px;
}
.price_1 {
    font-size: 25px;
    padding: 4px 10px !important;
}
.category_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 10px !important;
}
.add_button_2 {
        width: 45%;
        font-size: 18px !important;
        height: 50px !important;
    }
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
        padding-left: 10px  !important;
        font-size: 25px !important;
        padding-top: 4px !important;
}
.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}


 }

@media(min-width:421px) and (max-width:440px){
    .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.img_1 {
    width: 400px;
    border: 1px solid rgb(244, 239, 182);
    border-radius: 10px;
    height: 600px;
}
.parent_child2 {
    padding: 10px 0;
    margin: auto;
}
.navbar_ul, li {
    list-style: none;
    gap: 10px;
    font-size: 15px;
 padding: 15px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}
.child1,#search,.battery,.icon,.cart_num,.FC_child2 {
    display: none !important;
}
.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0;
}
.menu > a {
    font-size: 15px;
    width: 90px;
    text-align: cente;
    padding: 10px 0px;
}
.title_1 {
    font-size: 25px;
}
.price_1 {
    font-size: 25px;
    padding: 4px 0px;
}
.category_1 {
    font-size: 22px;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 0px;
}
.add_button_2 {
    width: 45%;
    font-size: 20px;
    height: 52px;
}
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
    padding-left: 49px;
    font-size: 29px;
    padding-top: 17px;
}
.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}
.info1 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 26px 0px;
}
.Box > h2 {
    padding:0px;
    font-size: 17px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 25px;
    font-size: 13px !important;
}
footer {
    width: 100%;
   height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}
}
@media(min-width:431px) and (max-width:840px){

       .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.parent_child1{
    justify-content: center !important;
    gap: 20px !important;
}
.cart_num {
  right: 187px !important;
  top: 50px !important;
}
.main_parent {
    padding: 20px 24px !important;
}
.child1 {
    display: none;
}
.child2 > svg {
    width: 200px;
    height: 100px;
    margin-left: 0%;
}


.cart_num {
  right:30px !important;
  top: 30px !important;
}

.imageContainer {
    display: flex;
    overflow: scroll;
    width: 94%;
    scrollbar-width: none;
    margin: auto;
    align-items:start;
    justify-content: start;
    gap: 50px;
    padding: 20px 0px;
}
footer {
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
.hading_3 {

    padding-left: 0px !important;
    padding-top: 40px !important;
}
}
@media(min-width:841px) and (max-width:1340px){
      
    .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}

.parent_child1 {
    justify-content: center;
    gap: 50px;
    margin: auto;
    border-bottom: 1px solid rgb(222, 220, 220);
}

.main_parent {
    padding: 20px 24px;
}

.child2 > svg {
    width: 200px;
    height: 100px;
    margin-left: 0%;
}

.img_1 {
    width: 950px;
    border: 1px solid rgb(244, 239, 182);
    border-radius: 10px;
    height: 90%;
}
.cart_num {
    right: 243px;
    top: 48px;
}

.imageContainer {
    display: flex;
    overflow: scroll;
    width: 94%;
    scrollbar-width: none;
    margin: auto;
    align-items:start;
    justify-content: start;
    gap: 50px;
    padding: 20px 0px;
}
footer {
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
}