@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.main_parents1{
    background-color: #e8ecee;
    height: 290px;
}
.My_account_text{
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  padding: 110px 0px;
}
.parents_text_div{
    display:grid;
    justify-items: center;
    padding: 40px 0px;
}
.password_input{
    width:560px;
  height: 55px;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid  #d3d1d1;
}
label{
font-size: 24px !important;
  color: #7e7979;
}
#Reset_password{
    width:560px;
  height: 55px;
  border-radius: 5px;
  text-align: center;
  font-size:23px;
  margin: 19px 0px;
  font-weight: bold;
  color: #fff;
  background-color: #0a0501;
}

#Reset_password:hover{
  background-color: #ffcc25;
  border: 1px solid #ffcc25;
  }
.text_massege_div{
    font-size: 24px;
    width: 37%;
    color: #999a98;
    word-spacing: 5px ;
    padding: 15px 0px;

}
span{
    color: red;
    font-size:25px;
}

      @media(max-width:320px){
     .child1,#search,.battery,.icon,.cart_num,.FC_child2{
    display: none !important;
}
      
.child2 > svg {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin-left:0px !important;
}

.main_parent {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}

.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

  .password_input {
    width: 240px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid #d3d1d1;
}

#Reset_password {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
    font-weight: bold;
    color: #fff;
    background-color: #0a0501;
}
label {
    font-size: 19px !important;
}
.from_div {
    margin: 26px 0px;
}

.text_massege_div {
    font-size: 18px;
    width: 77%;
    padding: 10px 0px !important;
}
.parents_text_div {
    padding: 25px 0px;
}
.My_account_text {
    font-size: 25px !important;
    padding: 110px 0px;
}

    } 

 @media (min-width:321px) and (max-width:380px){
       .child1,#search,.battery,.icon,.cart_num,.FC_child2 {
    display: none !important;
}
      
.child2 > svg {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin-left:0px !important;
}

.main_parent {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}

.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

  .password_input {
    width: 290px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid #d3d1d1;
}

#Reset_password {
    width: 290px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
    font-weight: bold;
    color: #fff;
    background-color: #0a0501;
}
label {
    font-size: 19px !important;
}
.from_div {
    margin: 26px 0px;
}

.text_massege_div {
    font-size: 18px;
    width: 77%;
    padding: 10px 0px !important;
}
.parents_text_div {
    padding: 25px 0px;
}
.My_account_text {
    font-size: 25px !important;
    padding: 110px 0px;
}
 }

  @media(min-width:421px) and (max-width:440px){

         .child1,#search,.battery,.icon,.cart_num,.FC_child2 {
    display: none !important;
}
      
.child2 > svg {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin-left:0px !important;
}

.main_parent {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}

.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

  .password_input {
    width: 340px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid #d3d1d1;
}

#Reset_password {
    width: 340px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
    font-weight: bold;
    color: #fff;
    background-color: #0a0501;
}
label {
    font-size: 19px !important;
}
.from_div {
    margin: 26px 0px;
}

.text_massege_div {
    font-size: 18px;
    width: 77%;
    padding: 10px 0px !important;
}
.parents_text_div {
    padding: 25px 0px;
}
.My_account_text {
    font-size: 25px !important;
    padding: 110px 0px;
}

  }





@media(min-width:431px) and (max-width:840px){
   .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.parent_child1{
    justify-content: center !important;
    gap: 20px !important;
}
.cart_num {
  right: 187px !important;
  top: 50px !important;
}
.main_parent {
    padding: 20px 24px !important;
}
.child1 {
    display: none;
}
.child2 > svg {
    width: 200px;
    height: 100px;
    margin-left: 0%;
}


.cart_num {
  right:30px !important;
  top: 30px !important;
}

footer{
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
.hading_3 {

    padding-left: 0px !important;
    padding-top: 40px !important;
}

.text_massege_div {
    font-size: 24px;
    width: 70%;
    color: #999a98;
    word-spacing: 5px;
    padding: 15px 0px;
}
}

@media(min-width:841px) and (max-width:1340px){
      footer {
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
.hading_3 {

    padding-left: 0px !important;
    padding-top: 40px !important;
}

.text_massege_div {
    font-size: 24px;
    width: 55%;
    color: #999a98;
    word-spacing: 5px;
    padding: 15px 0px;
}
    }