@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
/* 
.main>img{
    width: 670px;
    border: 1px solid rgb(244, 239, 182); 
    border-radius: 10px;
    height: 860px;
    transition: opacity 0.5s ease-in-out;
    display: block;

} */
.Category_span{
    font-weight: normal;
    font-size: 25px;
}
.maindiv{
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
    gap: 60px;
}
.title_1{
    font-size:38px;
    color: #0d0806;
}
.price_1{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: bolder;
    color: #545452;
}
.description_1{
    font-size: 27px;
    padding:35px 0px;
    word-wrap: 19px;
    color: #5e5f5b;
    border: 2px solid #cdcecb;
    border-left:none ;
    border-right:none ;
    border-top: none;
}
.category_1{
    font-size: 25px ;
    font-weight: bold;
    color: #383837;
}
/* .informationdiv{
    border: 1px solid black ;
} */

.info1{
    display: flex;
    gap: 35px;
    padding: 40px 0px;
}
.add_button_1{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 29%;
    border-radius: 5px;
    color: #5d5d5d;

}
.add_card{
   font-size: 28px;
   font-weight: bold;
    border: transparent; 
   margin: auto;
   width: 20%;
   height: 38px;
   background: white;
    color: #5d5d5d;

}
 .add_card:hover{
    background-color:#ffcc25;border-radius: 5px;
     color: white;
    
} 
.count:hover{
    background-color:#ffcc25;
    /* padding:5px 0px; */
    border-radius: 5px;
     color: white;
}
.count{
    text-align: center;
    font-size: 25px;
    padding:5px 0px;
    margin: auto;
    width: 20%;
    height: 38px;
   background: white;
}
.add_button_2{
  width: 67%;
  border-radius: 5px;
  background-color: #0d0806;
  border: transparent;
  color: white;
  font-size:24px;
  height: 70px;
}
.add_button_2:hover{
 background-color: #eac004;
}

.description_text{
    padding: 10px 44px;
    text-align: center;
}
.heading_1{
    text-align: center;
    color:#eac004;
    text-decoration: underline;
    font-size: 37px;
    padding: 30px 0px;
}
.p1,.p2{
      font-size: 27px;
      color: #7a7a78;
}
.p2{
    padding: 20px 0px;
}

/****************/
.img_2{
    width: 300px;
    height: 420px;
    border-radius:5px;
}
.title_2{
    font-size: 19px;
    padding: 15px 0px;
    /* width: 95%; */
    font-weight: bold;
}
.price_2{
    font-size: 20px;
    font-weight: bold;
    color: #606060;
}
.category_2{
    font-size: 21px;
    color:#343433;
    padding: 8px 0px;
}
.imageContainer{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
     padding: 20px  0px;

}
.Category_span_1{
    font-size: 22px;
    font-weight: bold;
     color: #606060;
}
.hading_3{
    text-align: start;
  padding-left: 49px;
    font-size: 33px;
    padding-top: 50px;
    color: #090604;
}
.siple_pro_btn{
    width: 180px;
    height: 50px;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color:#0a0501;
    border-radius: 5px;
}
.siple_pro_btn:hover{
    background-color: #eac004;
    border: 1px solid #eac004;
}



/************/

/* #main {
      width: 500px;
      height: 300px;
      border: 2px dashed #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    } */
    /* #main img {
      max-width: 100%;
      max-height: 100%;
    } */
    /* .thumbs {
      display: flex;
      gap: 15px;
      padding: 15px 0px;
      flex-wrap: wrap;
    }
    .thumbs img {
      width: 130px;
      height: 120px;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.3s;
      border: 2px solid #eac004;
      border-radius:5px;
    }
    .thumbs img:hover {
      border: 2px solid #eac004;
    }

    

    .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}


/* .main {
  position: relative;
  width: fit-content;
  margin: auto;
} */

/* .main img {
  transition: opacity 0.5s ease-in-out;
  max-width: 100%;
  display: block;
} */ 
 .main {
  position: relative;
  width: 650px; /* change as needed */
  overflow: hidden;
  margin: 20px auto;
  border: 1px solid rgb(244, 239, 182); 
  border-radius: 10px;
  height: 790px;
  transition: opacity 0.5s ease-in-out;

}



.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.slider-image {
  width: 660px; /* same as main width */
   height: 790px;
  flex-shrink: 0;
  user-select: none;
}

.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color:#eac004;
  cursor: pointer;
  user-select: none;
  padding: 13px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100% !important;
  z-index: 10;  
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.thumbs {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.thumb-image {
 width: 130px;
 height: 120px;
 object-fit: cover;
 cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
    border: 2px solid #eac004;
    border-radius:5px;
}

.thumb-image:hover {
  opacity: 1;
}

/* media query */

@media(max-width:320px){

    .maindiv {
     display:grid;
    justify-content:start;
    align-items: start;
    padding: 40px 10px;
    gap: 40px;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
   .main_parent {
    padding: 20px 16px !important;
    height: 160px !important;
}

.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0 !important;
}

.title_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.price_1 {
    font-size: 25px;
    padding: 4px 10px !important;
}
.category_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 10px !important;
}
.add_button_2 {
        width: 45%;
        font-size: 18px !important;
        height: 50px !important;
    }
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
        padding-left: 10px  !important;
        font-size: 25px !important;
        padding-top: 4px !important;
}

.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}

.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}



.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 30px !important;
    justify-content: center;
    padding: 26px 10px !important;
}
.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

.child1,#search,.battery,.FC_child2{
    display: none !important;
}
 .cart_num {
        right: 128px !important;
        top: 32px !important;
    }
 .child2 {
        display: flex;
        width: 20% !important;
        justify-content: space-between;
        align-items: center;
    }
.arrow {
    font-size: 1rem;
    color: black;
}

.main {
    width: 300px;
    height: 450px;
}

.slider-image {
  width: 300px;
  height: 450px;
}

.thumb-image {
    width: 66px;
    height: 61px;
}
.thumbs {
    justify-content: center;
}

}

 @media (min-width:321px) and (max-width:380px){

    .maindiv {
     display:grid;
    justify-content:start;
    align-items: start;
    padding: 40px 10px !important;
    gap: 40px;
}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
   .main_parent {
    padding: 20px 16px !important;
    height: 160px !important;
}

.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0 !important;
}

.title_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.price_1 {
    font-size: 25px;
    padding: 4px 10px !important;
}
.category_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 10px !important;
}
.add_button_2 {
        width: 45%;
        font-size: 18px !important;
        height: 50px !important;
    }
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
        padding-left: 10px  !important;
        font-size: 25px !important;
        padding-top: 4px !important;
}

.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}

.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}



.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 30px !important;
    justify-content: center;
    padding: 26px 10px !important;
}
.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

.child1,#search,.battery,.FC_child2{
    display: none !important;
}
 .cart_num {
        right: 128px !important;
        top: 30px !important;
    }
 .child2 {
        display: flex;
        width: 20% !important;
        justify-content: space-between;
        align-items: center;
    }

.arrow {
    font-size: 1rem;
    color: black;
}

.main {
    width: 330px;
    height: 450px;
}

.slider-image {
  width: 330px;
  height: 450px;
}

.thumb-image {
    width: 66px;
    height: 61px;
}
.thumbs {
    justify-content: center;
}
 }

 @media(min-width:421px) and (max-width:440px){
    .maindiv {
     display:grid;
    justify-content:start;
    align-items: start;
    padding: 40px 10px;
    gap: 40px;

}
.navbar_ul, li {
    list-style: none;
    gap: 7px  !important;
    font-size: 13px !important;
 padding: 17px 0px;
    height: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.menu > a {
    font-size: 13px;
    width: 80px;
    text-align:center !important;
    padding: 10px 0px;
}
   .main_parent {
    padding: 20px 16px !important;
    height: 160px !important;
}

.child2 > svg {
    width: 200px;
    height: 60px;
    margin-left:0 !important;
}

.title_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.price_1 {
    font-size: 25px;
    padding: 4px 10px !important;
}
.category_1 {
    font-size: 22px;
    padding: 0px 10px !important;
}
.Category_span {
    font-size: 21px;
}
.description_1 {
    font-size: 20px;
    padding: 16px 10px !important;
}
.add_button_2 {
        width: 45%;
        font-size: 18px !important;
        height: 50px !important;
    }
.heading_1 {
    font-size: 30px;
    padding-bottom: 25px !important;
}
.hading_3 {
        padding-left: 10px  !important;
        font-size: 25px !important;
        padding-top: 4px !important;
}

.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}

.imageContainer {
    display:flex;
    overflow: scroll;
    width: 90%;
    margin: auto;
    scrollbar-width: none;
    align-items:star;
    justify-content:start;
    gap: 50px;
    padding: 20px 0px;
}



.p1, .p2 {
    font-size: 21px;
    color: #7a7a78;
}


.info1 {
    display: flex;
    gap: 30px !important;
    justify-content: center;
    padding: 26px 10px !important;
}
.Box > h2 {
    padding:0px;
    font-size: 15px !important;
}

.ulDiv1 > ul > li, .ulDiv2 > ul > li, .ulDiv3 > ul > li {
    font-size: 13px !important;
    line-height:2 !important; 
}

p, i {
    line-height: 20px !important;
    font-size: 10px !important;
}
footer {
    width: 100%;
    height: 300px !important; 
}

.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 80px 0px !important;
}

.child1,#search,.battery,.FC_child2 {
    display: none !important;
}
 .cart_num {
        right: 128px !important;
        top: 32px !important;
    }
 .child2 {
        display: flex;
        width: 20% !important;
        justify-content: space-between;
        align-items: center;
    }
.arrow {
    font-size: 1rem;
    color: black;
}

.main {
    width: 380px;
    height: 500px;
}

.slider-image {
  width: 380px;
  height: 500px;
}

.thumb-image {
    width: 66px;
    height: 61px;
}
.thumbs {
    justify-content: center;
}

 }

 @media(min-width:431px) and (max-width:840px){
        .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.parent_child1{
    justify-content: center !important;
    gap: 20px !important;
}
   .cart_num {
        right: 255px !important;
        top: 30px !important;
    }
 .child2 {
        display: flex;
        width: 40% !important;
        justify-content: space-between;
        align-items: center;
    }
.main_parent {
    padding: 20px 24px !important;
}
.child1 {
    display: none;
}
.child2 > svg {
    width: 200px;
    height: 100px;
    margin-left: 0%;
}



.imageContainer {
    display: flex;
    overflow: scroll;
    width: 94%;
    scrollbar-width: none;
    margin: auto;
    align-items:start;
    justify-content: start;
    gap: 50px;
    padding: 20px 0px;
}
footer {
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}
.hading_3 {

    padding-left: 0px !important;
    padding-top: 40px !important;
}
.arrow {
    font-size: 2rem;
    color: black;
}

.main {
    width: 600px;
    height: 750px;
}

.slider-image {
  width: 600px;
  height: 750px;
}

.thumb-image {
    width: 110px;
    height: 100px;
}
.thumbs {
    justify-content: center;
}
 }


 
@media(min-width:841px) and (max-width:1340px){


    
       .maindiv {
     display:grid;
    justify-content:center;
    align-items: center;
    padding: 40px 60px;
    gap: 40px;
}
.arrow {
    font-size: 2rem;
    color: black;
}

.main {
    width: 800px;
    height: 950px;
}

.slider-image {
  width: 800px;
  height: 950px;
}

.thumb-image {
    width: 110px;
    height: 100px;
}
.thumbs {
    justify-content: center;
}

.parent_child1 {
    justify-content: center;
    gap: 50px;
    margin: auto;
    border-bottom: 1px solid rgb(222, 220, 220);
}
.main_parent {
    padding: 20px 24px;
}

.child2 > svg {
    width: 200px;
    height: 100px;
    margin-left: 0%;
}


.cart_num {
    right: 243px;
    top: 48px;
}

.imageContainer {
    display: flex;
    overflow: scroll;
    width: 94%;
    scrollbar-width: none;
    margin: auto;
    align-items:start;
    justify-content: start;
    gap: 50px;
    padding: 20px 0px;
}
footer {
    width: 100%;
   height: 530px !important; 
}
.footer_cantaner2 {
    height: 50px !important;
    font-size: 13px;
    padding-left: 60px;
    margin: 110px 0px !important;
}
.Box > .iconDiv {
    display: none !important; 
}
.FC_child2 {
    display: flex;
    justify-content: center;
    gap: 50px !important;
    padding: 0 50px !important;
    align-items: center;
}

.navbar_ul, li {
    gap: 30px;
    font-size: 24px;
}
.menu > a {
    text-decoration: none;
    font-size: 24px;
    color: #222;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}
}